{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.5.1"}}},
    {erlport, {git, "https://github.com/hdima/erlport", "master"}}
]}.
{ct_opts, []}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{ct_extra_params,"--erl_args -smp enable -boot start_sasl"}.
