{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
    {lager, "3.6.1"},
    {erlport, "0.10.1"}
]}.
{ct_opts, []}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{ct_extra_params,"--erl_args -smp enable -boot start_sasl"}.
{plugins, [rebar3_hex, covertool]}.
